main .commande {
    text-align: center;
}

main .contact {
    text-align: center;
}

.on {
    visibility: visible;
}
    
.off {
    display: none;
    }

.vingt {
 width: 20px;
}

.deux {
    width: 22px;
}

.quinze {
    width: 15px;
}

.sept {
    width: 17px;
}

.sondage {
    line-break: ;
}