main .commande {
    text-align: center;
}

main #contact {
    text-align: center;
}

.question {
    margin-bottom: auto;
}

/*variable pour le javascript*/
.on {
    visibility: visible;
}
    
.off {
    display: none;
    }

/*taille des images*/
.vingt {
 width: 20px;
}

.deux {
    width: 22px;
}

.quinze {
    width: 15px;
}

.sept {
    width: 17px;
}

#contact fieldset {
    display: flex;
    justify-content: space-evenly;
}

fieldset{ /*Met le fond en gris et arrondit les coins*/
    background-color: #4b4f5377 ;
    border:2px solid ;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
}

.gauche{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#prof img {
    width: 300px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact aside {
    display: flex;
    justify-content: space-between;
}

.message{
display: flex;
flex-direction: column;
}

@media (max-width:999px){
#contact aside {
    display: block;
    }
#contact fieldset{
    display :block;
}
#prof img{
    display : none;
}
}

footer{
    display: flex;
    justify-content: center;
    align-content: center;
}
.social_icon{
    width : 30px;
    height: auto;
}

footer span{
display :flex;
flex-direction: column-reverse;
align-self: center;
}