main .commande {
    text-align: center;
}

main .contact {
    text-align: center;
}

.question {
    margin-bottom: auto;
}

/*variable pour le javascript*/
.on {
    visibility: visible;
}
    
.off {
    display: none;
    }

/*taille des images*/
.vingt {
 width: 20px;
}

.deux {
    width: 22px;
}

.quinze {
    width: 15px;
}

.sept {
    width: 17px;
}

fieldset{ /*met le fond en gris et arrondi les coins*/
    background-color: #4b4f5377 ;
    border:2px solid ;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}