 /*Tout ce qui est propre à la page equipe*/
h1{
	background-color: #3D7DCA;
	/*Change la couleur d'arrière-plan en bleu*/
	color: #FFCB05;
	/*Change la couleur du texte en jaune*/
    text-align: center;
    /*Mets le texte au centre*/
}

h2{text-indent: 10px;} /*léger espaçage pour éviter de coller le bord*/

/*Identifiants des personnes*/
#depeyre{
	background-color: #FFAD00;
	/*Change la couleur d'arrière-plan en jaune*/
	text-align: center;
}

#fressard{
	background-color: #F59BAD;
	/*Change la couleur d'arrière-plan en rose*/
	text-align: center;
	clear: left;
	/*Ne pas avoir d'images sur le coté gauche. En l'occurence, la photo des personnes.*/
}

#gavioli{
	background-color: #3B4CCA;
	/*Change la couleur d'arrière-plan en bleu*/
	text-align: center;
	clear: left;
}

#viguier{
	background-color: #FF0000;
	/*Change la couleur d'arrière-plan en rouge*/
	text-align: center;
	clear: left;
}

.photo{
	float: left;
}

p {
    margin-left: 10px; 
    text-indent: 15px; /*Alinéa*/
    text-align: justify;
}
/*La note concernant Enzo se psitionne sous la photo*/
.note {
	margin-left: 10px; 
    text-align: justify;
	clear: left;
}
/*Souligner note*/
.underline {
	text-decoration: underline;
}

footer {
	clear: left;
}