 /*Tout ce qui est propre à la page equipe*/
h1{
	background-color: #3D7DCA; /*Change la couleur de font*/
	color: #FFCB05; /*Change la couleur du texte*/
    text-align: center; /*Mets le texte au centre*/
}

h2{text-indent: 10px;} /*léger espaçage pour éviter de coller le bord*/

/*Classes des personnes*/
.depeyre{background-color: #FFAD00}
.fressard{background-color: #F59BAD}
.gavioli{background-color: #3B4CCA}
.viguier{background-color: #FF0000}

p {
    text-indent: 20px; /*Alinéa*/
}