
:root{
    --header-color-bg: #FAAA6D;/*La couleur de fond du header et peu-être du footer*/
    --header-link-hover:#419EAE;/*Couleur des liens quand la sourie passe dessus*/
}


/*Le footer*/
@media screen and (min-width:999px){
footer{
    height: 100px;
    background-color: var(--header-color-bg);
    position: fixed;
    top:97%;
    width:100%;
    text-align: center;
}
body footer a.aFooter{
    font-size: 16px;
    margin: 0px 30px;
    color:black;
}
footer dev{
    font-size: 16px;
    margin: 0px 30px;
}

}

@media screen and (max-width:999px){
    footer{visibility: none;}

}