/*Tout ce qui est propre à Nous Rejoindre et les trois métiers*/
h1{
	background-color: #3D7DCA; /*Change la couleur d'arrière-plan du texte*/
	color: #FFCB05; /*Change la couleur du texte*/
    text-align: center; /*Mets le texte au centre*/
}

h2{
    background-color: #FFAD00;
    text-indent: 10px; /*Petit alinéa de 10px*/
}

h3{
    color: blue;
    text-indent: 10px;
}

p {
    text-indent: 10px;
}

div {
    text-indent: 20px;
}

/*Mise en page du texte en latin pour le distinguer visuellement du reste*/
.blockquote p{
    text-indent: 35px;
    margin-left: 30px;
    font-style: italic;
}

/*Espacement des différents labels/inputs*/
fieldset div {
    margin-bottom: 20px;
}

/*classe co s'aligne avec la bordure de droite et
n'a pas besoin de laisser de marge en-dessous car c'est la fin du fieldset*/
.co {
    text-align: right;
    margin-bottom: 0px;
}