/*Tout ce qui est propre à Nous Rejoindre et les trois métiers*/
article h1{
	background-color: #3D7DCA; /*Change la couleur de font*/
	color: #FFCB05; /*Change la couleur du texte*/
    text-align: center; /*Mets le texte au centre*/
}

h2{
    background-color: #FFAD00;
    text-indent: 10px;
}

h3{
    color: blue;
    text-indent: 10px;
}

p {
    text-indent: 10px;
}

div {
    text-indent: 20px;
    margin-left: 10px;
}

.blockquote {
    text-indent: 30px;
}}