article{
    background-color: var(--main-color-bg);
    margin: 15px 15px 0px 15px;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
/*
section{
    Le flex n'est pas utile
    display: flex;
    flex-direction: column;
    
}
*/

aside{
    background-color: var(--main-color-bg);
    margin: 15px 15px 0px 15px;
    padding: 5px 5px;
    display: flex;
    width: 30%;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    background: none;
    padding: 0px 0px;
}

section{
    margin-bottom: 25px;
    border: 1px solid black;
}

img.logo{
    width: 40px;
}


@media (max-width:999px){
    article{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    main{
        flex-direction: column;
    }
}