/* Enlève le bloc raptincel pour éviter de surchager la page */
@media(max-width: 1163px) {
    div#raptincel_block
    {
        display: none;
    }
}

@media(max-width: 590px) {

    /* Augmente la taille du logo */
    #entreprise_block #logo {
        width: 40%;
        height: 40%;
    }

    .invisible {
        display: none;
    }

    /* Rend le contenu avec les image dracaufeu flexive */
    #img_contenu {
        display: flex;
        flex-direction: column;
    }

    #draco_x, #draco_o, #draco_y, #draco_g {
        width: 80%;
        height: 80%;
    }

    img#draco_g.img_dracaufeu {
        width: 80%;
        height: 80%;
    }

    /* Change la dimension des images */
    div img.price_img, img#img_monture, img#img_livreur {
        width: 90%;
        height: 90%;
        border: none;
    }

    img#egg_img {
        width: 40%;
        height: 40%;
        margin-left: 20px;
    }
}

/* Le contour du slogan s'enlève quand la taille de l'écran est en dessous de 507 pixels */
@media(max-width: 507px) {
    blockquote span#slogan
    {
        border: none;
    }
}

@media (max-width: 480px) {
    /* Rajoute un fond noir */
    body {
        background-color: black;
    }

    /* donne de l'espace entre entre texte et son bloc */
    #slogan {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Ajout d'une police d'écriture qu'on nommera pokemon */
@font-face {
    font-family: "pokemon";
    src: url(../font/PokemonSolid.ttf);
}

/* Bloc main qui rassemble tout le contenu de la page */
main {
    background-color: rgba(255,255, 240, 0.9);
    text-align: center;
    border: solid black 1px;
}

/* Bloc ayant pour contenu le slogan de notre entreprise */
blockquote {
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Le slogan de notre entreprise : Pokémon, achetez-les tous ! + rajout de la police d'écriture sur le slogan */
p#slogan{
    border: #3A3F43 double thick;
    border-radius: 30px;
    font-family: pokemon, fredoka, Arial;
    background-color: #3D7DCA;
    color: white;
}

/* Donne un fond gris/noir au bloc */
#entreprise_block {
    background-color: #3A3F43;
    border: black solid 2px;
    margin-bottom: 20px;
}

/* Met le contenu en ligne */
#contenu_entreprise {
    display: inline;
}

/* Placement du texte + couleur du texte en blanc */
div#entreprise_block div#contenu_entreprise p {
    color: white;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

/* Modifie le lien qu'il y a dans le bloc de l'entreprise */
div#entreprise_block div#contenu_entreprise p a {
    text-decoration: none;
    color: darkorange;
    font-size: 25px;
}

/* Modifie le logo présent dans le logo entreprise */
#logo {
    width: 12%;
    height: 12%;
    margin-top: 20px;
    background-color: #F2684A;
    padding: 30px;
    border: #8c8b8b solid 3px;
    border-radius: 100px;
}

/* Met les image de Dracaufeu en ligne */
#img_block {
    display: inline;
}

/* Modifie les images de Dracaufeu + ajout de bordure arrondi */
.img_dracaufeu {
    width: 20%;
    height: 20%;
    border: #3A3F43 solid 1px;
    border-radius: 20px;
    padding: 10px;
}

/* Modifie la première image */
#draco_x {
    margin-top: 20px;
}

/* Modifie la seconde image */
#draco_o {
    padding-top: 25px;
}

/* Modifie la troisème image */
#draco_y {
    padding-top: 20px;
}

/* Modifie la dernière image */
#draco_g {
    width: 18%;
    height: 18%;
}

/* Augmente la bordure de l'image quand la souris de l'utilisateur passe dessus */
.img_dracaufeu:hover {
    border: #3A3F43 solid 3px;
}

/* Bloc contenant les prix des différents Dracaufeu */
#price_block {
    background-color: #3A3F43;
    border: black solid 2px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;
}

/* Bloc contenant l'image et le texte lié à un Dracaufeu */
.price_content {
    border-bottom: solid black 2px;
    margin-top: 30px;
    color: white;
}

/* Agis sur les images des différents Dracaufeu */
.price_content img {
    border: solid black 1px;
    width: 50%;
    height: 50%;
}

/* Donne une couleur aux prix des différents Dracaufeu */
.price_nb{
    color: #e03434;
}

/* Donne une exception au bloc contenu du dernier Dracaufeu pour éviter que la bordure soit trop épaisse */
#price_exception
{
    border-bottom: none;
}

/* Modifie le bloc qui contient l'oeuf et son texte */
#egg_block {
    background-color: #3A3F43;
    width: 100%;
    display: inline-block;
    border: black solid 2px;
    margin: 50px 0 50px 0;
}

/* Modifie le placement de l'image oeuf avec son texte */
.contenu_egg {
    margin: 50px 0;
}

/* Met l'image oeuf à gauche en float et met obligatoirement 40px d'écart à gauche */
#egg_img {
    float: left;
    margin-left: 40px;
}

/* Modifie l'emplacement, la couleur ainsi que l'alignement du texte du bloc oeuf */
#egg_txt {
    margin: 30px;
    color: white;
    text-align: center;
}

/* Modifie le bloc raptincel en donnat une couleur de fond, un placement + bordure */
#raptincel_block {
    background-color: #3A3F43;
    width: 50%;
    height: 270px;
    margin: 0 auto 50px auto;
    text-align: center;
    border: black solid 2px;
}

/* Modifie l'image du reptincel */
#raptincel_img {
    float:left;
    margin-top: 15px;
    margin-left: 20px;
    background-color:  #727272;
}

/* Modifie le texte present dans le bloc raptincel */
div#raptincel_block > p {
    color: white;
    padding: 10px 15px 10px 15px ;
}

/* Donne une couleur, un taille et enlève le surlignement aux lien qui renvoie à deux musiques */
p > .musiclink {
    color: darkorange;
    text-decoration: none;
    font-size: 18px;
}

/* Met une couleur de fond + une bordure */
div#usedraco {
    background: #3A3F43;
    border: black solid 2px;
}

/* Image du Dracaufeu avec un selle  */
#img_monture {
    width: 50%;
    height: 50%;
    border: black solid 1px;
}

/* Image du Dracaufeu livreur */
#img_livreur {
    width: 50%;
    height: 50%;
    border: black solid 1px;
    margin-bottom: 40px;
}

/* Texte au dessus des deux images */
p.txt_usedraco {
    color: white;
    margin: 40px 20px 40px 20px;
}

/* Emplacement du bouton "commander" */
div#CommandButton {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Enlève le surlignement du lien  */
#order_link {
    text-decoration: none;
}

/* Donne un fond, une bordure (arrondie sur les coins) au bouton "commander" */
#order_txt {
    background-color: #FCC499;
    border: #b3794e solid 2px;
    padding: 10px;
    color: black;
    border-radius: 25px;
}

/* Change la couleur du texte du bouton "commander" quand la souris de l'utilisateur passe dessus. */
#order_txt:hover {
    color: #215c8d;
    transition: 0.2s;
}