@media(max-width: 1163px)
{
    div#raptincel_block
    {
        display: none;
    }
}

@media(max-width: 507px)
{
    blockquote span#slogan
    {
        border: none;
    }
}

@font-face
{
    font-family: "pokemon";
    src: url(../font/PokemonSolid.ttf);
}

main
{
    width: 80%;
    background-color: rgba(255,255, 240, 0.9);
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    border: solid black 1px;

}

blockquote
{
    margin-top: 10px;
    margin-bottom: 40px;
}


span#slogan
{
    border: #3A3F43 double thick;
    padding: 10px;
    font-family: pokemon;
    color: #53585a;
}

#img_block
{
    display: inline;
}

.img_dracaufeu
{
    width: 20%;
    height: 20%;
    border: #3A3F43 solid 1px;
    border-radius: 20px;
    padding: 10px;
}

#draco_x
{
    margin-top: 20px;
}

#draco_o
{
    padding-top: 25.39px;
}

#draco_y
{
    padding-top: 19.91px;
}

#draco_g
{
    width: 18%;
    height: 18%;
}

.img_dracaufeu:hover
{
    border: #3A3F43 solid 3px;
}

#egg_block
{
    background-color: #3A3F43;
    width: 100%;
    display: inline-block;
    border: black solid 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;

}

.contenue_egg
{
    margin: 50px 0;
}

#egg_img
{
    float: left;
    margin-left: 40px;
}

#egg_txt
{
    margin: 30px;
    color: white;
    text-align: center;
}

#raptincel_block
{
    background-color: #3A3F43;
    width: 50%;
    height: 270px;
    margin: 0 auto 30px auto;
    text-align: center;
    border: black solid 2px;
}

#raptincel_img
{
    float:left;
    margin-top: 15px;
    margin-left: 20px;
    background-color:  #727272;
}

div#raptincel_block > p 
{
    color: white;
    padding: 10px;

}

#order_link
{
    text-decoration: none;
}

#order_txt
{
    background-color: #FCC499;
    border: #b3794e solid 2px;
    padding: 10px;
    color: black;
    border-radius: 25px;
}

#order_txt:hover
{
    color: #215c8d;
    transition: 0.2s;
}

p > .musiclink
{
    color: #dc143c;
    text-decoration: none;
    font-size: 18px;
}

div#usedraco
{
    background: #3A3F43;
    border: black solid 1px;
}

#img_monture
{
    width: 50%;
    height: 50%;
    border: black solid 1px;
}

#img_livreur
{
    width: 50%;
    height: 50%;
    border: black solid 1px;
    margin-bottom: 40px;
}

p.txt_monture
{
    color: white;
    margin-left: 20px ;
    margin-right: 20px ;
    margin-top: 40px;
    margin-bottom: 40px;
}

div#CommandButton
{
    margin-top: 50px;
    margin-bottom: 20px;
}