@media(max-width: 1163px) /* Enlève le bloc raptincel pour éviter de surchager la page */
{
    div#raptincel_block
    {
        display: none;
    }
}

@media(max-width: 507px) /* Le contour du slogan s'enlève quand la taille de l'écran est en dessous de 507 pixels */
{
    blockquote span#slogan
    {
        border: none;
    }
}

@font-face /* Ajout d'une police d'écriture qu'on nommera pokemon */
{
    font-family: "pokemon";
    src: url(../font/PokemonSolid.ttf);
}

main /* Bloc main qui rassemble tout le contenu de la page */
{
    width: 80%;
    background-color: rgba(255,255, 240, 0.9);
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    border: solid black 1px;

}

blockquote /**/
{
    margin-top: 10px;
    margin-bottom: 40px;
}


span#slogan                     /* Le slogan de notre entreprise : Pokémon, achetez-les tous ! + rajout de la police d'écriture sur le slogan*/
{
    border: #3A3F43 double thick;
    padding: 10px;
    font-family: pokemon;
    color: #53585a;
}

#entreprise_block               /* Donne un fond gris/noir au bloc */
{
    background-color: #3A3F43;
}

#contenue_entreprise            /* Met le contenu en ligne */
{
    display: inline;
}

div#entreprise_block div#contenue_entreprise p /* Placement du texte + couleur du texte en blanc */
{
    color: white;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

div#entreprise_block div#contenue_entreprise p a /* Modifie le lien qu'il y a dans le bloc de l'entreprise */
{
    text-decoration: none;
    color: darkorange;
    font-size: 25px;
}

#logo /* Modifie le logo présent dans le logo entreprise */
{
    width: 10%;
    height: 10%;
    margin-top: 20px;
    background-color: #F2684A;
    padding: 30px;
    border-radius: 100px;
}

#img_block /* Met les image de Dracaufeu en ligne */
{
    display: inline;
}

.img_dracaufeu /* Modifie les images de Dracaufeu + ajout de bordure arrondi */
{
    width: 20%;
    height: 20%;
    border: #3A3F43 solid 1px;
    border-radius: 20px;
    padding: 10px;
}

#draco_x /* Modifie la première image */
{
    margin-top: 20px;
}

#draco_o /* Modifie la seconde image */
{
    padding-top: 25.39px;
}

#draco_y /* Modifie la troisème image */
{
    padding-top: 19.91px;
}

#draco_g /* Modifie la dernière image */
{
    width: 18%;
    height: 18%;
}

.img_dracaufeu:hover /* Augmente la bordure de l'image quand la souris de l'utilisateur passe dessus */
{
    border: #3A3F43 solid 3px;
}

#egg_block /* Modifie le bloc qui contient l'oeuf et son texte */
{
    background-color: #3A3F43;
    width: 100%;
    display: inline-block;
    border: black solid 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;

}

.contenue_egg /* Modifie le placement de l'image oeuf avec son texte */
{
    margin: 50px 0;
}

#egg_img /* Met l'image oeuf à gauche en float et met obligatoirement 40px d'écart à gauche */
{
    float: left;
    margin-left: 40px;
}

#egg_txt /* Modifie l'emplacement, la couleur ainsi que l'alignement du texte du bloc oeuf */
{
    margin: 30px;
    color: white;
    text-align: center;
}

#raptincel_block /* Modifie le bloc raptincel en donnat une couleur de fond, un placement + bordure */
{
    background-color: #3A3F43;
    width: 50%;
    height: 270px;
    margin: 0 auto 30px auto;
    text-align: center;
    border: black solid 2px;
}

#raptincel_img /* Modifie l'image du reptincel */
{
    float:left;
    margin-top: 15px;
    margin-left: 20px;
    background-color:  #727272;
}

div#raptincel_block > p /* Modifie le texte present dans le bloc raptincel */
{
    color: white;
    padding: 10px 15px 10px 15px ;
}

p > .musiclink /* Donne une couleur, un taille et enlève le surlignement aux lien qui renvoie à deux musiques */
{
    color: darkorange;
    text-decoration: none;
    font-size: 18px;
}

div#usedraco /* Met une couleur de fond + une bordure */
{
    background: #3A3F43;
    border: black solid 1px;
}

#img_monture /* Image du Dracaufeu avec un selle  */
{
    width: 50%;
    height: 50%;
    border: black solid 1px;
}

#img_livreur /* Image du Dracaufeu livreur */
{
    width: 50%;
    height: 50%;
    border: black solid 1px;
    margin-bottom: 40px;
}

p.txt_usedraco /* Texte au dessus des deux images */
{
    color: white;
    margin-left: 20px ;
    margin-right: 20px ;
    margin-top: 40px;
    margin-bottom: 40px;
}

div#CommandButton /* Emplacement du bouton "commander" */
{
    margin-top: 50px;
    margin-bottom: 20px;
}

#order_link /* Enlève le surlignement du lien  */
{
    text-decoration: none;
}

#order_txt /* Donne un fond, une bordure (arrondie sur les coins) au bouton "commander" */
{
    background-color: #FCC499;
    border: #b3794e solid 2px;
    padding: 10px;
    color: black;
    border-radius: 25px;
}

#order_txt:hover /* Change la couleur du texte du bouton "commander" quand la souris de l'utilisateur passe dessus. */
{
    color: #215c8d;
    transition: 0.2s;
}