body{
    background-image: url("images/fond2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    /*width: 80%;
    left: 10%;
    right: 10%;*/

}
@media screen and (max-width:999px){
    body{
        background-image: url("images/fond.jpg");
        background-color: black;
        width: 80%;
        left: 10%;
        right: 10%;
    }
    a{
        font-size: 100%;
    }
}

@media screen and (max-width:540px) { 
    body{
        background-attachment: fixed;
        background-image: none;
        background-color: black;
    }

 }

header{
    display: flex;
    flex-direction: row;

}


nav{
    position: fixed;

    width: 80%;
    left: 10%;
    right: 10%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #FAAA6D;
}

nav > a{
    width: 16%;
    text-align: center;
    border: 2px solid black;
    flex-grow: 1;
}
nav > div{
    width: 16%;
    text-align: center;
    border: 2px solid black;
}

a{
    font-size: 150%;
}

.submenu{
    display: none;
}

nav > div:hover .submenu{
    display: inline;/*Ne marche pas pour l'instant !*/
}


article{
    top:500px;
    background-color: rgba(255,255, 240, 0.5);
    height: 1000px;
    
    /*width: 80%;
    left:10%;
    right:10%;*/
    /*flex-grow: 1;*/
    /*font-size: 30px;*/
}