body{
    background-image: url("image/fond2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #FAAA6D;
}

nav > a{
    width: 16%;
    text-align: center;
    border: 2px solid black;
    flex-grow: 1;
}
nav > div{
    width: 16%;
    text-align: center;
    border: 2px solid black;
}

a{
    font-size: 150%;
}

.submenu{
    display: none;
}

nav > div:hover .submenu{
    display: inline;/*Ne marche pas pour l'instant !*/
}


article{
    background-color: rgba(255,255, 240, 0.9);
    width: 90%;
    left:5%;
    right:5%;
    /*font-size: 30px;*/
}